@keyframes slide-in {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in-delay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 1.2s ease forwards;
}

.animate-fade-in {
    animation: fade-in 1.5s ease forwards;
}

.animate-fade-in-delay {
    animation: fade-in-delay 2s ease forwards;
}